// font
$fontOfWebSite: "Roboto", sans-serif;

// colors
$basicWhite: #ffffff;
$lightBlue: #2196f3;
$lightBlack: #212121;
$lightGray: #757575;
$darkGray: #2f303a;

// layout params
$widthContainer: 1170px;
$centeredContainer: 0 auto;
