.footer {
    background-color: #2F303A;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 252px;
}

.footer_container {
    display: flex;
    flex-direction: column;
}

.footer_text--first {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    margin-left: 215px;
    margin-top: 30px;
}

.footer_text--last {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin-left: 215px;
}
.foter_img { 
  margin-left: 215px;
  margin-top: 60px;
}