@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* ul,
* ol {
  list-style-type: none;
}
* a {
  color: black;
  text-decoration: none;
}
* body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_logo {
  margin-right: 93px;
  cursor: pointer;
}
.header_logo:hover {
  -webkit-animation: pulseScale 1s ease-in-out infinite;
          animation: pulseScale 1s ease-in-out infinite;
}
.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_navigation--item a {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  overflow: hidden;
}
.header_navigation--item a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #2196f3;
}
.header_navigation--item.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #2196f3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  top: 40px;
  border-radius: 10px;
  z-index: 5;
}
.header_navigation--item.active.light-blue a {
  color: #2196f3;
}
.header_navigation--item:not(:last-child) {
  margin-right: 50px;
}
.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header_right--part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header_right--part svg path,
.header_right--part a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header_right--part:hover svg path,
.header_right--part:hover a {
  fill: #2196f3;
  color: #2196f3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header_right--link {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header_right--link:not(:last-child) {
  margin-right: 50px;
}
.header_right--link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
}
.footer_container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}
.footer img {
  margin-bottom: 20px;
}
.footer_address {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
  margin-bottom: 8px;
}
.footer_link {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer_link:not(:last-child) {
  margin-bottom: 8px;
}
.footer address {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
}
.footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 93px;
}
.footer_right--first--title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-underline-position: from-font;
  text-transform: uppercase;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 20px;
}
.footer_right--first--svgs svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.footer_right--first--svgs svg:hover path {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: #2196f3;
}
.footer_right--first--svgs svg:hover g path {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  fill: #ffffff;
}
.footer_right--second {
  max-width: 570px;
}
.footer_right--second--title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ffffff;
  text-transform: uppercase;
}
.footer_right--second--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}
.footer_right--second--form--input {
  width: 358px;
  height: 50px;
  min-height: 50px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 14px;
}
.footer_right--second--btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: 0;
  outline: none;
  color: white;
  background-color: #2196f3;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
}/*# sourceMappingURL=portfolio.css.map */