.footer {
    background-color: #2F303A;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 252px;
    margin-bottom: -100px;
    display: flex;
    justify-content: space-between;
  }
  
  .fffffff {
    width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer_container {
    display: flex;
    flex-direction: column;
  }
  
  .footer_text--first {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    margin-left: 215px;
    margin-top: 30px;
  }
  
  .footer_text--last {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin-left: 215px;
  }
  
  .foter_img {
    margin-left: 215px;
    margin-top: 60px;
  }
  
  .card_svg--d-dd svg:hover {
    path {
      fill: #2196f3;
    }
  
    g path {
      fill: #ffffff;
    }
  }
  
  .foter-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #ffffff;
    padding-bottom: 20px;
  }
  
  .card_svg--d-dd {
    padding-top: 70px;
  }
  
  .text_contact {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
  }
  
  .button_contact {
    width: 220px;
    height: 53px;
    margin-bottom: 200px;
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
  }
  
  .dibil {
    box-shadow: 0px 4px 4px 0px #00000026;
    background-color: #2F303A;
    border: 1px solid #FFFFFF4D;
    width: 360px;
    height: 50px;
  }
  
  .contact {
    margin-top: 70px;
  }
  