@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 24px;
  margin-bottom: 25px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 93px;
}

.header_navigation {
  display: flex;
}

.header_navigation--item--blue--line {
  position: absolute;
  margin-top: 21px;
  height: 4.5px;
  border-radius: 4px;
  background-color: #2196f3;
  width: 46px;
}

.header_navigation--item a {
  transition: 0.5s;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #212121;
}

.header_right {
  display: flex;
  gap: 30px;
}

.header_right--part {
  &:hover {
    svg path, a {
      fill: #2196f3;
      color: #2196f3;
      transition: 0.5s;
    }
  }

  svg path, a {
    transition: 0.5s;
  }

  display: flex;
  align-items: center;
  gap: 10px;
}

.header_navigation--item {
  a:hover {
    transition: 0.5s;
    color: #2196f3;
  }

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header_right--link {
  &:not(:last-child) {
    margin-right: 50px;
  }

  transition: 0.5s;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: #757575;
}
 @import url('/WebStudio/scss/adaptive/_header-adaptive.scss');