.main_first--section {
    background-image: url('/WebStudio/img/shapka.png');
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .main_first--container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 13.5px;
  }
  
  .main_first--title {
    animation: colorceange 3s  linear infinite;
    max-width: 696px;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ffffff;
    margin-top: 200px;
  }
  
  .main_first--btn {
    margin-top: 30px;
    width: 216px;
    height: 50px;
    margin-bottom: 200px;
    border: 0;
    cursor: pointer;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #ffffff;
    background-color: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
  }
  
  .main_second--section {
    margin-top: 94px;
  }
  
  .main_second--img {
    background-color: #F5F4FA;
    max-width: 270px;
    height: 120px;
  }
  
  .qweee {
    margin-left: 100px;
    margin-top: 25px;
  }
  
  .main_second--container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .main_second--title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }
  
  .main_second--text {
    font-family: Roboto;
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .main_third--section {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  
  .main_third--container {
    width: 100%;
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .main_third--title {
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .main_third--img:hover {
    transition: 2s;
    transform: rotateZ(1080deg);
  }
  
  .main_third--images {
    display: flex;
    justify-content: space-between;
  }
  
  .main_third--img {
    position: relative;
  }
  
  .main_third--img--wrapper {
    position: absolute;
    top: 224px;
    width: 100%;
  }
  
  .rete-in-img {
    padding: 27px 0;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #2F303ACC;
  }
  
  .main_fourth--section {
    padding-top: 94px;
    padding-bottom: 124px;
    background-color: #F5F4FA;
  }
  
  .main_fourth--container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  
  .main_fourth--card--text {
    font-family: Roboto;
    max-width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 16px;
  }
  
  .main_forth--card--title {
    font-family: Roboto;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
  }
  
  .main_fourth--title {
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .main_fourth--cards {
    display: flex;
    justify-content: space-between;
  }
  
  .main_fourth--card {
    height: 430px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 1px 0px #00000033;
  }
  
  .card_svg svg:hover {
    path {
      fill: #2196f3;
    }
  
    g path {
      fill: #ffffff;
    }
  }
  
  .svg_section--h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: center;
  }
  
  .nev_sektion--svg {
    height: 375px;
  }
  
  .svg_section {
    display: flex;
    justify-content: space-around;
  }
  
  .svg_section--div {
    border: 1px solid #AFB1B8;
    border-radius: 5px;
    margin-top: 140px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  
    svg {
      &:hover path {
        fill: #2196f3;
        border-color: #2196f3;
      }
  
      path {
        fill: #AFB1B8;
      }
    }
  }
  