.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #00000033;
  opacity: 1;
  z-index: 98;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    &_close--wrapper {
      position: relative;
      display: flex;
      justify-content: end;
      padding-top: 8px;
      padding-bottom: 2px;

      svg {
        position: relative;
        top: 0;
        right: 8px;
        cursor: pointer;
      }
    }

    &_title {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 700;
      line-height: 23.44px;
      letter-spacing: 0.03em;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #212121;
      margin-bottom: 12px;
    }

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      input:not([type="checkbox"]) {
        width: 448px;
        height: 40px;
        border: 1px solid #21212133;
        border-radius: 4px;
        padding-left: 40px;
      }

      .form_field {
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          left: 12px;
        }

        textarea {
          width: 448px;
          resize: none;
          height: 120px;
          border-radius: 4px;
          border: 1px solid #21212133;
          padding: 12px 16px;

          &::placeholder {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14.06px;
            letter-spacing: 0.01em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

            color: #75757580;
          }
        }

        &:focus {
          outline: none;
        }
      }

      label {
        color: #757575;
      }

      .form_field {
        &:focus-within {
          input {
            outline: none;
            border-color: #2196f3;
          }
          svg g path {
            fill: #2196f3;
          }
        }
      }

      .form_privacy-policy {
        display: flex;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #757575;

        &--text {
          margin-left: 8.38px;
        }
      }

      .form_submit {
        &--wrapper {
          margin-top: 30px;
        }

        &--btn {
          width: 200px;
          height: 50px;
          border-radius: 4px;
          background-color: #2196f3;
          border: 0;
          outline: 0;
          cursor: pointer;
          color: #ffffff;
          box-shadow: 0px 4px 4px 0px #00000026;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 700;
          line-height: 30px;
          letter-spacing: 0.06em;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}

@import "../adaptive/modal-adaptive";
